{%include 'course.html'%}

<body>
    <h1>Degrees in the Faculty of Art</h1>
    <ul>
       <li> Bachelor Of Social Work</li> 
       <li> Bachelor Of Library And Information Science </li>
       <li> Bachelor Of Arts In Sociology</li> 
       <li> Bachelor Of Arts In Psychology </li>
       <li> Bachelor Of Arts In Philosophy</li> 
       <li> Bachelor Of Arts In Isizulu</li>
       <li> Bachelor Of Arts In Information Science (Aideg1)</li>
       <li> Bachelor Of Arts In General Linguistics (Abdeg1)</li>
        <li>Bachelor Of Arts In Environmental Planning & Development</li> 
        <li> Bachelor Of Arts In Correctional Studies</li>
        <li> Bachelor Of Arts In Anthropology</li>
        <li> Bachelor Of Arts In Siswati</li>
        <li>Bachelor Of Arts In Sesotho</li>
        <li>Bachelor Of Arts Afrikaans</li>
        <li> Bachelor Of Art In Politics And International Studies</li>
        <li> Bachelor Of Art In Politics And International Studies</li>
        <li> Bachelor Of Art In Politics And International Studies</li>
        <li> Bachelor Of Art In German</li>
        <li> Bachelor Of Art In English</li>
        <li>Bachelor Of Art In Dual Major</li>
        <li> Bachelor Of Art In History</li>
        <li>Bachelor Of Art In Drama And Performance</li>
       <li>Bachelor Arts In Tourism Studies </li>
        <li>Bachelar Of Art In Development Studies</li>
        <li>Bachelar Of Art In Industrial Sociology</li>
       <li>Bachelar In Intercultural Communication</li>
    </ul>
        
    
</body>