{%include 'course.html'%}

<body>
    <h1>Degrees in the Faculty of Commerce Admin and Law</h1>
    <ul>
        <li>Accounting</li>
        <li>Accounting And Economics</li>
        <li>Accounting Science</li>
        <li>Bachelor Of Laws</li>
        <li>Banking & Business Management</li>
        <li>Banking And Insurance</li>
        <li>Business Management & Accounting</li>
        <li>Business Management & Economics</li>
        <li>Business Management & Human Resources Management</li>
        <li>Business Management And Insurance</li>
        <li>Economics And Insurance</li>
        <li>Management Information Systems</li>
        <li>Public Administration & Business Management</li>
        <li>Public Administration & Economics</li>
        <li>Public Administration & Human Resource Management</li>
        <li>Public Administration & Political Scienceg</li>
    </ul>
</body>