{% include 'course.html' %}


<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta hhtp-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Home</title>

<div class="container1" style="margin-left: 5px; font-size: 20px">
 <p> The UNIZULU course finder is a designed for prospective students to equip them with information about courses offered by the University of Zululand. This web App helps them know the requirements needed by these courses, together with the careers that one can go for should they they get that qualification. It also helps these prospective students know which course they qualify for.<br>
  <strong style="color: red;">NB:</strong> You need a minimum of 26 APS to be admitted at for a Bachelor and a minimum of 24 APS to be admitted for National Diploma and higher certificate</p>
 </div>
<div>


</div>
<div class="row">
  <div class="column" style="background-color:#ADD8E6;">
    <h2 style="text-align: center">SEARCH COURSE</h2>
    <p style="margin: 5px">If you already know what course you would like to study. Check if it's offered at UNIZULU:</p>
    <button type="button" class="button1" onclick="document.location.href='/results'">SEARCH COURSE</button>
  </div>
  <div class="column" style="background-color:#E0FFFF;">
     <h2 style="text-align: center">FIND COURSE</h2>
     <p style="margin: 5px"> If you have your matric results and would like to know which course you are most likely to be considered</p>
     <button type="button" class="button1" onclick="document.location.href= '/find'" >FIND COURSE</button>
   </div>
  </div>       
</body>
</html>
