{%include 'course.html'%}

<body>
    <h1>Degrees in the Faculty of Science</h1>
    <ul>
        <li>Agribusiness Management</li>
        <li>Animal Science</li>
        <li>Applied Mathematics And Computer Science</li>
        <li>Applied Mathematics And Hydrology</li>
        <li>Applied Mathematics And Mathematics</li>
        <li>Applied Mathematics And Physics</li>
        <li>Applied Mathematics And Statistics</li>
        <li>Biochemistry And Botany</li>
        <li>Biochemistry And Chemistry</li>
        <li>Botany And Geography</li>
        <li>Botany And Hydrology</li>
        <li>Chemistry And Computer Science</li>
        <li>Chemistry And Hydrology</li>
        <li>Chemistry And Mathematics</li>
        <li>Chemistry And Physics</li>
        <li>Chemistry And Zoology</li>
        <li>Computer Science And Hydrology</li>
        <li>Computer Science And Mathematics</li>
        <li>Computer Science And Physics</li>
        <li>Computer Science And Statistics</li>
       <li>Environmental Planning And Development</li>
        <li>Extension And Rural Development</li>
        <li>Geography And Hydrology</li>
        <li>Geography And Statistics</li>
        <li>Geography And Zoology</li>
        <li>Hospitality And Tourism</li>
        <li>Human Movement Science And Physics</li>
        <li>Human Movement Science And Zoology</li>
    </ul>
</body>
